parameters:
    paths:
        - src
        - tests
    ignoreErrors:
        -
            identifier: staticMethod.alreadyNarrowedType
            paths:
                - tests/*
        -
            identifier: staticMethod.impossibleType
            paths:
                - tests/*
    treatPhpDocTypesAsCertain: false
